<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116314007-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-116314007-2');
	</script>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
    <base href="{{ site.baseurl }}">
  </head>
    <section class="page-header">
      <a href="{{ site.baseurl }}/">
	     <img src="{{ site.baseurl }}/assets/images/BEE.png" alt="JMANC LOGO">
      </a>
    </section>
    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">For event details visit our <a href="https://www.meetup.com/ManchesterUK-Java-Community/">meetup site</a>.</span>
      </footer>
    </section>

  </body>
</html>
